.title{
	height: 80px;
}
.title img{
	height: 38px;
	margin-bottom: 5px;
}

/********************/

.tab-pane{
	margin-top: 15px;
}

/********************/

.jt-cell{
	height: 130px;
	cursor: pointer;
}

.jt-cell:hover{
	border: 1px solid #ccc;
	border-radius: 5px;
}

.jt-cell img{
	display: block;
	height: 50px;
	margin: 20px auto 10px auto;

	max-width: 100%; /* Image can be to large */
}

.jt-cell a{
	display: block;
	text-align: center;
	color: black;
}

.jt-cell:hover a{
	color: #2a6496;
	text-decoration: none;
}


.jt-cell .jt-remove{
	opacity: 0;
	margin-top: 7px;
	float: right;
	color: #ccc;
}

.jt-cell:hover .jt-remove{
	opacity: 1;

}

.jt-cell .jt-remove:hover{
	color: rgb(213, 61, 41);
}

/********************/

.jt-form{
	border: 1px solid #ccc;
	border-radius: 5px;

	padding: 10px 25px;
}

/********************/

#footer{
	height: 40px;
}