a:focus {
    outline: none;
}

body{
	width: 100%;

	font-family: 'Helvetica';
	font-size: 10.5pt;
	
	-webkit-user-select: none;
	user-select: none;
}

/**************/

.content{
	margin: 5px 15px;
}

form{
	margin-top: 20px;
}

label, input, select{
	display: inline-block;
	width: 200px;
	margin: 10px 0;

	text-align: left;
}

input, select{
	height: 20px;
}

button{
	position: absolute;
	left: 325px;

	height: 30px;
	width: 100px;

	background-color: rgb(242, 242, 242);
	border: 1px solid rgb(192, 192, 192);
	border-radius: 5px;
}

button:hover{
	background-color: rgb(252, 252, 252);
	border: 1px solid rgb(202, 202, 202);
}

/**************/

#need_more{
	margin-top: 35px;

	font-size: 12px;
}

#need_more a:hover{
	color: blue;
}

/**************/

ul{
	margin-top: 20px;
	list-style: none;
}

li, a{
	height: 22px;
	line-height: 22px;
}

li{
	width: 295px;
}

a{
	text-decoration: none;
	color: #1a1a1a;
	cursor: pointer;
}

a.label{
	display: inline-block;
	text-align: right;
	width: 240px;
	padding-right: 10px;
}

a[data-action]{
	display: inline-block;
	float: right;
	width: 20px;
	text-align: center;

	font-size: 18px;
}

li:hover{
	background: linear-gradient(to bottom, #adc1f5 0%, #1e5eec 100%);
}

a:hover{
	color: #f0f0f0;
}

a img{
	float: left;
	height: 18px;
	margin: 2px 10px;
}
